body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-left: 1em;
}

table, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
}

table { margin-bottom: 10px; }

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding: 10px 10px 10px 4px;
  text-align: left;
  background-color: #083726;
  color: white;
}
